### Hito4 para Rendimiento Escolar
*"Modelación donde se implementará una solución analítica que aumente las métricas de desempeño. Se solicitan por lo menos 3 modelos predictivos, donde deberán reportar las principales métricas. Cada modelo predictivo debe tener una reseña sobre el por qué se diseñó de esa forma.."*

####  Carga de librerias e importación de .csv obtenido en el hito anterior

In [39]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

#from graficos import *
import funciones as fun
from graficos import *

import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn') # Gráficos estilo seaborn
plt.rcParams["figure.figsize"] = (8,6) # Tamaño gráficos (5, 3)
plt.rcParams["figure.dpi"] = 75 # resolución gráficos 100

In [40]:
df_dummies = pd.read_csv('students_dummies.csv')
print(df.shape)
df_dummies.head()

(284, 42)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Mjob_teacher,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_home,reason_other,reason_reputation,guardian_mother,guardian_other
0,0,0,17.0,0,0,0,1.0,1.0,1.0,2.0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,15.0,0,0,0,4.0,2.0,1.0,3.0,...,0,0,0,1,0,1,0,0,1,0
2,0,1,16.0,0,1,0,4.0,3.0,1.0,2.0,...,0,0,1,0,0,0,0,1,1,0
3,0,1,16.0,0,1,0,2.0,2.0,1.0,2.0,...,0,0,1,0,0,1,0,0,1,0
4,0,0,17.0,0,0,1,4.0,4.0,2.0,2.0,...,0,0,0,0,1,1,0,0,1,0

###  Modelación predictiva

- Se generarán modelos seleccionado variables significativas de G1 y G2.
- Se generarán sub conjuntos de entrenamiento y prueba
- Se ajustara el modelo, se obtendran metricas.

####  Modelo 1:

In [37]:
# seleccionamos variables para utilizar en el modelo
var_G1_G2 = ['failures', 'goout', 'Walc', 'health', 'G3']
df_pred = df_dummies
df_pred

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Mjob_teacher,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_home,reason_other,reason_reputation,guardian_mother,guardian_other
0,0,0,17.0,0,0,0,1.0,1.0,1.0,2.0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,15.0,0,0,0,4.0,2.0,1.0,3.0,...,0,0,0,1,0,1,0,0,1,0
2,0,1,16.0,0,1,0,4.0,3.0,1.0,2.0,...,0,0,1,0,0,0,0,1,1,0
3,0,1,16.0,0,1,0,2.0,2.0,1.0,2.0,...,0,0,1,0,0,1,0,0,1,0
4,0,0,17.0,0,0,1,4.0,4.0,2.0,2.0,...,0,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,1,1,20.0,0,1,1,2.0,2.0,1.0,2.0,...,0,0,0,1,0,0,0,0,0,1
280,1,1,17.0,0,1,0,3.0,1.0,2.0,1.0,...,0,0,0,1,0,0,0,0,1,0
281,1,1,21.0,1,0,0,1.0,1.0,1.0,1.0,...,0,0,1,0,0,0,0,0,0,1
282,1,1,18.0,1,1,0,3.0,2.0,3.0,1.0,...,0,0,1,0,0,0,0,0,1,0
283,1,1,19.0,0,1,0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
# Este termina siendo el que mejor R2 tiene simplemente porque los demas modelos presentan un error
fun.mpr("G3",df_dummies,df_dummies["G3"])

AttributeError: module 'funciones' has no attribute 'mpr'

In [41]:


# separamos variable objetivo del conjunto de datos
mat_atr = df_pred.drop('G3', axis=1)
vec_obj = df_pred.loc[:, 'G3']

# split de conjuntos de entrenamiento vs prueba
X_train, X_test, y_train, y_test = train_test_split(mat_atr, vec_obj, test_size=.33, random_state=1238)

# ajustamos modelo sin alterar hiperparámetros
modelo_1 =  LinearRegression(fit_intercept=True).fit(X_train, y_train)

# predecimos la V.O
y_hat = modelo_1.predict(X_test)

# obtenemos métricas funcion report_scores()
mse = mean_squared_error(y_hat, y_test)
r2 = r2_score(y_hat, y_test).round(2)
print(f'Error cuadrático medio: {mse}')
print(f'R2: {r2}')

Error cuadrático medio: 4.084732047435653
R2: 0.79

#### Analisis de resultados Modelo 1:

- El f1-score indica que este modelo predice una certeza aleatoria, esto debido a que para ambos casos el f1-score es mayor a 50% (90% para 0, y 64% para 1).
- La métrica de precision, nos indica que el modelo muestra de buena forma los sueldos sobre 50k, donde supera el 71% para ambas clases.
- Recall tiene una gran certeza en predecir sueldos menores o iguales a 50k con un porcentaje superior a 90%, y no es tan efectivo con los mayores a 50k (59%).
- La curva ROC nos indica que la detección de VP es superior a la de FP, esto se aprecia como una "curva" sobre la bisectriz.

#### Modelo 2
Se realizará un modelo con interacciones entre variables