### Hito2 para Determinantes del ingreso
*"Se generará un análisis descriptivo considerando el tipo de variables (desde el punto de vista estadístico así como computacional). Esta sección debe considerar medidas univariadas/ frecuencias, datos perdidos y gráficos distributivos sobre las variables a analizar. A partir de ésta se debe clarificar la estrategia de preprocesamiento (datos perdidos, recodificaciones)."*

### Inspección Visual

Carga de librerias, ambiente e importación de archivo .csv

In [14]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

import statsmodels.formula as sm
import statsmodels.formula.api as smf

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_curve, classification_report 

from calidad_datos import calidad_datos
from graficos import cross_plot

import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn') # Gráficos estilo seaborn
plt.rcParams["figure.figsize"] = (5, 3) # Tamaño gráficos (8, 6)
plt.rcParams["figure.dpi"] = 100 # resolución gráficos 70

In [15]:
df = pd.read_csv('income-db.csv') #, index_col=0)
print(df.shape)
df.head()

(48842, 15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [16]:
calidad = calidad_datos(df)
calidad

,tipo,nulos,porc_nulos,ceros,porc_ceros,count,unique,top,freq,mean,std,min,25%,50%,75%,max,limit_inf,limit_sup,outliers
age,int64,0,0.0,0,0.000000,48842.0,NaN,NaN,NaN,38.643585,13.71051,17.0,28.0,37.0,48.0,90.0,18.077821,59.20935,5512
fnlwgt,int64,0,0.0,0,0.000000,48842.0,NaN,NaN,NaN,189664.134597,105604.025423,12285.0,117550.5,178144.5,237642.0,1490400.0,31258.096463,348070.172732,4775
educational-num,int64,0,0.0,0,0.000000,48842.0,NaN,NaN,NaN,10.078089,2.570973,1.0,9.0,10.0,12.0,16.0,6.221629,13.934548,8024
capital-gain,int64,0,0.0,44807,0.917387,48842.0,NaN,NaN,NaN,1079.067626,7452.019058,0.0,0.0,0.0,0.0,99999.0,-10098.96096,12257.096213,1039
capital-loss,int64,0,0.0,46560,0.953278,48842.0,NaN,NaN,NaN,87.502314,403.004552,0.0,0.0,0.0,0.0,4356.0,-517.004515,692.009142,2247
hours-per-week,int64,0,0.0,0,0.000000,48842.0,NaN,NaN,NaN,40.422382,12.391444,1.0,40.0,40.0,45.0,99.0,21.835216,59.009548,8352
workclass,object,0,0.0,0,0.000000,48842,9,Private,33906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
education,object,0,0.0,0,0.000000,48842,16,HS-grad,15784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
marital-status,object,0,0.0,0,0.000000,48842,7,Married-civ-spouse,22379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
occupation,object,0,0.0,0,0.000000,48842,15,Prof-specialty,6172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
relationship,object,0,0.0,0,0.000000,48842,6,Husband,19716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
race,object,0,0.0,0,0.000000,48842,5,White,41762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
gender,object,0,0.0,0,0.000000,48842,2,Male,32650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
native-country,object,0,0.0,0,0.000000,48842,42,United-States,43832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
income,object,0,0.0,0,0.000000,48842,2,<=50K,37155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
df.describe().round(2)

### Proceso de preprocesamiento y recodificación de las variables