## Clase 1: Estadistica Univariada
### Importar Librerias

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#import plotly  # grafica e intercambia el grafico, investifar
import scipy.stats as stats

In [37]:
import os
os.listdir()

['Untitled-1.ipynb', 'flights.csv']

In [29]:
df = pd.read_csv('flights.csv')

In [30]:
df.head(10)
df.tail(5)
df.isna().sum()

year          0
month         0
passengers    0
dtype: int64

In [38]:
df['month'][:5]

0     January
1    February
2       March
3       April
4         May
Name: month, dtype: object

In [34]:
stats.mode(df['passengers'])

265.5

In [39]:
a =[1,2,3,4,5,600]
np.mean(a), np.median(a)

df[df['month']=='January']

     year    month  passengers
0    1949  January         112
12   1950  January         115
24   1951  January         145
36   1952  January         171
48   1953  January         196
60   1954  January         204
72   1955  January         242
84   1956  January         284
96   1957  January         315
108  1958  January         340
120  1959  January         360
132  1960  January         417