### 1. Hola Mundo (1 pto):

In [129]:
print('Hola Mundo, esta es mi primera incursión en python')

Hola Mundo, esta es mi primera incursión en python

### 2. Ingreso de variables (2 ptos):

In [130]:
name = 'Antonio'
age = 47
activity = ['andar en Moto', 'realizar IOT', 'practicar trekking']
pet = True

### 3. Imprimir variables (2 ptos):

In [131]:
print (name)
print (age)
print (activity[1])
print (pet)

print (type(name))
print (type(age))
print (type(activity))
print (type(pet))
resp = 'si' if pet else 'no' 
print(f'Mi nombre es {name}, tengo {age} años me gusta {activity[0]}, {activity[1]}, {activity[2]} y {resp} tengo una mascota')

Antonio
47
realizar IOT
True
<class 'str'>
<class 'int'>
<class 'list'>
<class 'bool'>
Mi nombre es Antonio, tengo 47 años me gusta andar en Moto, realizar IOT, practicar trekking y si tengo una mascota

### 4. Identificar códigos erróneos (2 ptos):


print('Estaba la pájara pinta sentada en el verde limón)

>Falta ' para cerrar el string a imprimir, debe quedar asi:

In [132]:
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

print('Mi nombre es' name 'y tengo' edad, 'años')

>Se debe usar + para unir string y str() para convertir a string y unir:

In [133]:
print('Mi nombre es '+ name +' y tengo ' +str(age)+ ' años')

Mi nombre es Antonio y tengo 47 años

import pandas as pd

import numpy as np

>sin errores

"Ornitorrinco" + 45
>No se puede sumar un str con un int

## 5. Utilizar pandas y numpy (3 ptos):
Para ello, sigue los siguientes pasos.
- A. Importa pandas y numpy.
- B. Posteriormente importa el archivo flights.csv.
- C. Solicita las primeras y últimas 5 observaciones de la tabla de datos.
- D. Utiliza describe para obtener las medidas univariadas de la columna year.
- E. Utiliza value_counts para obtener la frecuencia de meses y años de la tabla.
- F. Guarda en variables las primeras y últimas 15 observaciones de la tabla.
- G. Solicita la media, mediana y desviación estándar de la cantidad de pasajeros
utilizando los métodos de numpy. Replique el procedimiento para las últimas y
primeras 15 observaciones. Comente brevemente los resultados.

In [134]:
import pandas as pd
import numpy as np

df = pd.read_csv('flights.csv')

In [135]:
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [136]:
df.tail(5)

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [137]:
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [138]:
df['month'].value_counts()

January      12
February     12
March        12
April        12
May          12
June         12
July         12
August       12
September    12
October      12
November     12
December     12
Name: month, dtype: int64

In [139]:
df['year'].value_counts()

1949    12
1950    12
1951    12
1952    12
1953    12
1954    12
1955    12
1956    12
1957    12
1958    12
1959    12
1960    12
Name: year, dtype: int64

In [140]:
pri15 = df.head(15) # tambien pri15 = df[:15]
ult15 = df.tail(15) # tambien ult15 = df[-15:]

In [141]:
def stdis(df,var):
    media = np.mean(df[var])
    mediana = np.median(df[var])
    desv_std = np.std(df[var])
    return media, mediana, desv_std

In [142]:
var = 'passengers'
stdis(df,var)

(280.2986111111111, 265.5, 119.54904153277147)

In [143]:
stdis(pri15,var)

(126.8, 126.0, 12.681745410891462)

In [144]:
stdis(ult15,var)

(459.2, 432.0, 75.29426715671431)