In [8]:
import pandas as pd

#Ejemplo DataFrame
df = pd.read_csv('alumnos.csv')

# .head muestra los primeros campos de la tabla  
df.head(8)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h
5     Felipe    1.79   100    26    h
6    Jacinta    1.69    62    20    m
7   Bernardo    1.60    83    31    h

In [7]:
# .columns muestra los encabezados de las columnas
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [13]:
# .iloc[n,:] muestra el detalle por indice de todos sus elementos
df.iloc[1,:]

nombre    Paco
altura    1.73
peso        83
edad        25
sexo         h
Name: 1, dtype: object

In [15]:
#Otros 
df['sexo'].index
df['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [17]:
#series
df['peso']
df['peso'][5:10]

5    100
6     62
7     83
8     56
9    112
Name: peso, dtype: int64

In [6]:
# .shape muestra cantidad de filas y columnas.
df.shape 

#Operador slice (:) permite segmentar el DataFlame
df[:5]
df[5:]
df[5:10]

#Series
#Buscar una columna
df['altura']
altura = df['altura']
type(altura)

#Tambien se puede segmentar
altura[15:]
altura[:16]

0     1.67
1     1.73
2     1.62
3     1.58
4     1.86
5     1.79
6     1.69
7     1.60
8     1.60
9     1.98
10    1.72
11    1.63
12    1.73
13    1.62
14    1.58
15    1.86
Name: altura, dtype: float64